.grid{
    display: flex;
    flex-wrap: wrap;
    /*note this is based on a model with 100px by 100px cells in a 3 X 4 grid, may want to refactor later for scalability*/
   /*should accomadate 24 tiles*/
    height: 500px;
    width: 500px;
}